.btn {
  position: relative;
  background-color: #fff;
  display: inline-flex;
  padding: 12px 22px;
  border-radius: 10px;
  border: 5px solid $color-primary;
  text-decoration: none;
  color: $color-primary;
  z-index: 5;

  &::after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: scale(1.15, 0.2);
    background-color: $color-secondary;
    z-index: -1;
    transition: all 0.2s ease;
    opacity: 0.5;
    border-radius: 5px;
  }

  &:hover:not(:focus) {
    cursor: pointer;
    opacity: 1;
    &::after {
      transform: scale(1, 1);
    }
  }

  &:disabled {
    opacity: 0.5;

    &::after {
      opacity: 0;
    }
  }
}
