.clients {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    .client {

        display: flex;
        align-items: center;
        padding: 1rem;

        &-logo {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }

        .logo-wrapper {
            padding: 1rem;
        }
    }
}

@media only screen and (max-width: 992px) {
    .clients {
        grid-template-columns: repeat(2, 1fr);

        .client {
            padding: 0.5rem;

            .logo-wrapper {
                padding: 0.5rem;
            }
        }
    }
}