.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    color: white;
    text-align: center;
  }
  
  &__credits {
    font-size: 32px; 
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}