.form {
  width: 85%;
  margin: 45px auto;
  background-color: #fff;
  padding: 45px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow:  $bxShadowNeoMorph;
  &-container {
    min-height: 50vh;
    padding: 45px 0px;
  } 
  &-heading {
    text-align: center;
  }
  &-group {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
 
  }
  &-label {
    margin-bottom: 15px;
  }
  &-input {
    padding: 2% 4%;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: $bxShadowNeoMorph;
    overflow: hidden;
    &:focus { 
      outline: none;
      box-shadow: 0 0 4px $color-primary-light;
    }
    &:invalid {
      border-bottom: 3px solid orangered;
    }
    &:valid {
      border-bottom: 3px solid limegreen;
    }
  }
  &-submit {
      background-color: #fff;
      border: .5px solid #d9d9d9;
      box-shadow: $bxShadowNeoMorph;
  }
}

@media only screen and (max-width: 576px) {
  .form {
    width: 100%;
    padding: 45px 10px;
    &-input {
      background-color: #f4f4f4;
      transition: background-color .3s ease;
      padding: 4% 8%;
      &:focus {
        background-color: #fff;
      }
    }
  }
}