.nav {
  width: 100%;
  text-transform: uppercase;
  position: relative;
  padding: 20px 0px;

  &__container {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100vh;
    max-width: 650px;
    min-width: 400px;
    z-index: 100;
    text-align: center;
    transform: translateX(200%);
    transition: transform 0.7s cubic-bezier(1, 0, 0, 1);
    background-color: rgba($color-primary-light, 0.8);
  }

  &__active {
    transform: translateX(0px) !important;
  }

  &__button {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 15px;
    border-radius: 5px 20px 5px;
    font-size: 32px;
    z-index: 9;
    background-color: #212121;
    border: 3px solid $color-primary-light;
    color: $color-secondary;
    transition: all 0.35s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.2) rotate(180deg);
    }
  }

  &__logo {
    display: inline-block;
    width: 80%;
    margin: 35px auto;
  }

  &__close {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    border-radius: 150px;
    position: absolute;
    top: -20%;
    right: 7%;
    transition: transform 0.3s, background-color 0.05s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2) rotate(270deg);
      background-color: rgba($color-primary-light, 0.8);
    }
  }

  &__items {
    width: 100%;
    text-align: center;
    list-style: none;
    overflow: hidden;
  }

  &__item {
    padding: 20px;
    position: relative;
    z-index: 12;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: 100% 0%;
      transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
      background-image: linear-gradient(
        to right,
        transparent 0%,
        rgba($color-primary-light, 0.6) 27.5%,
        rgba($color-primary, 0.6),
        rgba($color-primary, 0.6)
      );
    }
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__link {
    color: #fff !important;
    display: block;
    padding: 0.5rem 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .nav {
    &__button {
      top: 2%;
      padding: 5px;
    }
    &__container {
      width: 100%;
      min-width: 100%;
    }
  }
}
