#portfolio-banner {
  position: relative;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;

  .profile--wrapper {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;

    .banner {
      &__title-box {
        width: 450px;
        z-index: 5;
        border-radius: 6px;
        border: 3px solid $color-primary-light;
        padding: 15px 30px;
        background-color: rgba($color-primary, 0.85);
        color: #ffffff;
        opacity: 0;
        margin-bottom: 2%;
      }
    }

    .mugShot {
      z-index: 3;
      border-radius: 6px;
      border: 3px solid $color-primary-light;
      opacity: 0;
      width: 450px;
      height: 450px;
    }
  }

  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.page-banner {
  min-height: 75vh;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: visible;
  &__contents-wrapper {
    min-width: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: rgba(33, 33, 33, 1);
    border: 4px solid $color-primary-light;
  }
  &-overlay {
    display: block;
    background-image: linear-gradient(
      to right bottom,
      rgba(58, 58, 58, 0.65),
      rgba(58, 58, 58, 0.45)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.design-page-banner {
  height: 550px;
  overflow: hidden;
}

.sub-page-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.svg-banner-parent {
  position: relative;
}

.svg-banner {
  width: 100%;
}

@media only screen and (min-width: 1140px) {
  #portfolio-banner {
    .profile--wrapper {
      .mugShot {
        height: 500px;
        width: 500px;
      }
      .banner {
        &__title-box {
          width: 500px;
          line-height: 2;
        }
        &__title {
          font-size: 42px;
        }
        &__subtitle {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .page-banner {
    min-height: 65vh;
    &__contents-wrapper {
      padding: 15px;
    }
  }

  .sub-page-banner {
    transform: scale(3);
  }

  #portfolio-banner {
    height: 85vh;

    .profile--wrapper {
      .banner__title-box {
        width: 300px;
      }

      .mugShot {
        height: 300px;
        width: 300px;
      }
    }
  }
}
