.page-banner {
  min-height: 75vh;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: visible;
  &__contents-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: rgba(33, 33, 33, 1);
    border: 4px solid $color-primary-light;
  }
  &-overlay {
    display: block;
    background-image: linear-gradient(
      to right bottom,
      rgba(58, 58, 58, 0.65),
      rgba(58, 58, 58, 0.45)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.design-page-banner {
  height: 550px;
  overflow: hidden;
}

.sub-page-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#portfolio-banner {
  position: relative;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;

  .banner {
    &__title-box {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      border-radius: 6px;
      border: 3px solid $color-primary-light;
      padding: 15px 30px;
      background-color: rgba($color-primary, 0.85);
      color: #ffffff;
      opacity: 0;
    }
  }

  .mugShot {
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 5%;
    border-radius: 50%;
    border: 5px solid $color-secondary;
    opacity: 0;
    width: 600px;
    height: 600px;
  }

  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.svg-banner-parent {
  position: relative;
}

.svg-banner {
  width: 100%;
}

@media only screen and (min-width: 1140px) {
  #portfolio-banner {
    .banner {
      &__title-box {
        line-height: 2;
      }
      &__title {
        font-size: 42px;
      }
      &__subtitle {
        font-size: 28px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-banner {
    min-height: 35vh;
  }

  #portfolio-banner {
    .mugShot {
      top: 50%;
      right: 5%;
      transform: translate(0%, -50%) !important;
      height: 400px;
      width: 400px;
    }

    .banner {
      &__title-box {
        top: 65%;
        left: 40%;
        line-height: 2;
      }

      &__title {
        font-size: 32px;
      }
      &__subtitle {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (min-width: 567px) and (max-width: 767.9px) {
  #portfolio-banner {
    .mugShot {
      height: 200px;
      top: 50% !important;
      left: 1% !important;
      transform: translateY(-50%) !important;
    }

    .banner__title-box {
      top: 50% !important;
      left: 25% !important;
      transform: translateY(-50%) !important;
    }
  }
}

@media only screen and (max-width: 576px) {
  .page-banner {
    min-height: 50vh;
  }

  .sub-page-banner {
    transform: scale(3);
  }

  #portfolio-banner {
    height: 65vh;
    .banner__title-box {
      top: 3px;
      left: 49.8%;
      transform: translateX(0);
      width: 100vw;
      z-index: 10;
    }

    .mugShot {
      height: 300px;
      width: 300px;
      top: 12.5%;
      right: 0% !important;
      transform: translate(0%, 0%) !important;
    }
  }
}
