#phaser-game {
  .game-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 2rem auto 0px auto;

    .game-controls {
      display: none;
      gap: 1.5rem;
      justify-content: center;

      button {
        width: 50px;
        height: 50px;
        background-size: contain;

        &#arrow-up {
          background-image: url('./assets/img/arrow-up.png');
        }

        &#arrow-left {
          background-image: url('./assets/img/arrow-left.png');
        }

        &#arrow-right {
          background-image: url('./assets/img/arrow-right.png');
        }
      }
    }
  }

  #little-lebowski-game {
    max-width: 100%;

    background-color: #000000;
  }

  .info {
    text-align: center;
  }

  .info-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  #phaser-game {
    .game-wrapper {
      margin: 3rem auto 0px auto;

      .game-controls {
        display: flex;
      }
    }

    #little-lebowski-game {
      background-color: transparent;
    }

    .info {
      display: none;
    }
  }
}
