#phaser-game {
  .game-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 2rem auto 0px auto;
  }

  #little-lebowski-game {
    max-width: 100%;

    background-color: #000000;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
  }
}
