#phaser-game {
  .game-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #little-lebowski-game {
    width: 800px;
    height: 600px;
    background-color: #000000;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
  }

  @media only screen and (max-width: 799px) {
    display: none;
  }
}
