/*-------- badges --------- */

.about__skillBadges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .skill-badge {
    font-size: 100px;
    transition-timing-function: ease;
  }

  .htmlBadge {
    margin: 0 auto;
  }

  .cssBadge {
    align-self: flex-end;
    margin-right: 50px;
  }

  .WPbadge {
    align-self: center;
    margin-right: 50px;
  }
}

.skill-badge {
  font-size: 100px;
}

.htmlBadge {
  color: #f46517;
}

.cssBadge {
  color: #1a6fb4;
}

.phpBadge {
  color: #8892bf;
}

.WPbadge {
  color: #21759b;
}

.jsBadge {
  color: #f0db4f;
}

.SassBadge {
  color: #cf649a;
}

.broswerBadge {
  color: #d35400;
}

.resBadge {
  color: #34495e;
}

.maintainBadge {
  color: #16a085;
}

.adobeBadge {
  color: #fa0f00;
}

.gulpBadge {
  color: #cf4646;
}

@media only screen and (max-width: 768px) {
  .about__skillBadges {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: none;

    .skill-badge {
      font-size: 100px;
    }

    .htmlBadge {
      align-self: flex-start;
      margin: 0 auto;
    }

    .cssBadge {
      align-self: center;
      margin: 0 auto;
    }

    .WPbadge {
      align-self: flex-end;
      margin: 0 auto;
    }
  }
}
