.skill {
  &-row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &-col {
    position: relative;
    flex: 1;
    padding: 1.5rem;
    border-radius: $portfolio-border-radius;
    background: #f9f9f9;
    box-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    &-trigger {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .heading__secondary {
    text-align: center;
  }

  .skill {
    &-col {
      padding: 15px;
      flex: auto;
      &:first-child {
        margin-bottom: 35px;
      }
    }
  }
}
