#bannerSlider {
  height: 100%;
  .banner__slide {
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

#bannerSlider .splide__list {
  height: 100%;
  & li {
    height: 100%;
    & {
      img {
        height: 100%;
      }
    }
  }
}

.project-slide {
  height: 450px;
  max-height: 450px;
}

.splide__slide {
  position: relative;
}

@media only screen and (max-width: 1600px) {
  #bannerSlider {
    .banner__slide {
      .slide {
        padding-bottom: 125%;
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  #bannerSlider {
    .banner__slide {
      .slide {
        padding-bottom: 150%;
      }
    }
  }
}


