.work-experience__heading {
  background-image: linear-gradient(to right bottom, #fff, #f1c40f) !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.wex {
  max-width: 1300px;
  height: auto !important;
  border-radius: $portfolio-border-radius;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(58, 58, 58);

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__project-img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1040px) and (max-width: 1300px) {
  .wex__contents {
    height: 100%;
  }
}

@media only screen and (min-width: 1040px) {
  .wex {
    max-height: 95vh;
  }
}

// bespoke to all sreens < tablet H
@media only screen and (max-width: 991px) {
  .work-experience__heading {
    background-image: linear-gradient(
      180deg,
      $wexHeaderRGB1 0%,
      $wexHeaderRGB1 50%,
      $color-secondary 51%
    ) !important;
    color: #fff;
    background-color: transparent;
  }

  .wex {
    &:first-child {
      margin-left: 50px;
    }
  }
}

@media only screen and (min-width: 768px) {
  #pinContainer {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    width: 5500px;
    max-width: 5500px;
    overflow: hidden;
  }

  #slideContainer {
    width: 5600px;
    /* to contain 4 panels */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollmagic-pin-spcer {
    max-width: 5600px !important;
  }

  .panel {
    width: 22.5%;
    max-width: 1300px;
    float: left;
    box-shadow: 1px 2px 30px $color-black;
    flex: 1 !important;
    padding: 1% !important;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #slideContainer {
    width: 5200px;
  }
  .panel {
    max-width: 1020px;
  }
}

@media only screen and (max-width: 768px) {
  #slideContainer {
    width: 3500px;
  }
  .panel {
    max-width: 768px;
  }
}

@media only screen and (max-width: 576px) {
  #pinContainer {
    width: 100%;
  }
  #slideContainer {
    width: 100%;
  }
  .wex {
    &__image-block {
      padding: 1%;
    }
  }
  .panel {
    margin: 45px auto 0px auto;
    max-width: 95%;
    padding: 4% 2%;
  }
}
