.work-experience__heading {
  color: white;
  span {
    display: inline-block;
    margin: 0px 1px;
  }
}

.panel {
  max-width: 1300px;
  height: auto !important;
  border-radius: $borderRadius;
  background-color: rgba(255, 255, 255, 0.9); 
  color: rgb(58, 58, 58);
}

.wex {
  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p.paragraph {
      font-size: 1.25rem;
    }
  }

  &__project-img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1040px) and (max-width: 1300px) {
  .wex__contents {
    height: 100%;
  }
}

@media only screen and (min-width: 1040px) {
  .panel {
    max-height: 95vh;
  }
}

@media only screen and (min-width: 768px) {
  #pinContainer {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    width: 5500px;
    max-width: 5500px;
    overflow: hidden;
  }

  #slideContainer {
    width: 5600px;
    /* to contain 4 panels */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .scrollmagic-pin-spcer {
    max-width: 5600px !important;
  }

  .panel {
    width: 22.5%;
    max-width: 1300px;
    float: left;
    box-shadow: 1px 2px 30px $colorBlack;
    flex: 1 !important;
    padding: 1% !important;
    &:first-child {
      margin-left: 50px;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #slideContainer {
    width: 5200px;
  }
  .panel {
    max-width: 1020px;
  }
}

@media only screen and (max-width: 768px) {
  #slideContainer {
    width: 3500px;
  }
  .panel {
    max-width: 768px;
  }
}

@media only screen and (max-width: 576px) {
  #pinContainer {
    width: 100%;
  }
  #slideContainer {
    width: 100%;
  }
  .wex {
    &__text-block {
      margin-bottom: 1.5rem;
    }
    &__image-block {
      padding: 20px;
    }
  }
  .panel {
    margin: 45px auto 0px auto;
    max-width: 95%;
    padding: 20px;
    .heading__secondary {
      margin-bottom: 1rem;
    }
  }
}
