/* 
------- BASE ------- 
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");

$color-primary: #273c75;
$color-primary-light: #00aed9;
$color-secondary: #f1c40f;
$text-color: rgb(248, 239, 186);
$border-btm: 1px solid #bdc3c7;
$bxShadowBtm: 0 20px 30px -30px rgba(58, 58, 58, 0.45);
$bxShadowBtmLight: 0px 20px 10px -15px rgba(258, 258, 258, 0.15);
$color-black: rgb(33, 33, 33);
$portfolio-border-radius: 0px 40px 40px 40px;

$greyBg: #f9f9f9;

$headerPrimaryRGB1: rgb(44, 62, 80);
$headerPrimaryRGB2: rgb(52, 73, 94);

$wexHeaderRGB1: rgb(189, 195, 199);
$wexHeaderRGB2: rgb(236, 240, 241);

$bxShadowNeoMorph: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
$bxShadowNeoMorphGrey: 20px 20px 60px #bbbcbf, -20px -20px 60px #fdfeff;

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: $color-black;
  position: relative;
}

/* ----- utility classes ------ */

.bgGrey {
  background-color: $greyBg;
}

.bgBlue {
  background-color: $color-primary;
}

.lightBxShadow {
  box-shadow: $bxShadowBtmLight !important;
}
