/* ------- typography --------- */

/* headings */

.heading__primary,
.heading__secondary {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}

/* parapragh */

.paragraph {
  font-weight: 300;
  line-height: 1.5;
}

.about__heading {
  position: relative;
  padding: 12px 20px;
}

.bounce {
  font-size: 50px;
  display: block;
  text-align: center;
  animation: bounce 1.75s infinite;
}

.introBounce {
  animation: bounce 1.5s 6;
}

@media only screen and (max-width: 990.9px) {
  .paragraph:last-child {
    margin-bottom: 30px;
  }

  .heading__primary-light {
    color: $text-color !important;
  }
}

//bespoke for all screen > tabelt H
@media only screen and (min-width: 991px) {
  .heading__primary {
    background-image: linear-gradient(
      to right bottom,
      $headerPrimaryRGB1,
      $color-secondary
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    &-light {
      background-image: linear-gradient(
        to right bottom,
        #fff,
        $color-secondary
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    white-space: nowrap;
  }
}
