/* ------- typography --------- */
h1, h2, h3, h4, h5, h6 {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.25;
  span {
    display: inline-block;
  }
}

/* headings */
.heading__primary,
.heading__secondary {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.25;
  span {
    display: inline-block;
  }
}

.heading__primary {
  &-light {
    color: white;
  }
}

/* parapragh */
.paragraph {
  font-weight: 300;
  line-height: 2;
}

.about__heading {
  position: relative;
  padding: 12px 20px;
}

.bounce {
  font-size: 50px;
  display: block;
  text-align: center;
  animation: bounce 1.75s infinite;
}

.introBounce {
  animation: bounce 1.5s 6;
}

@media only screen and (max-width: 990.9px) {
  .paragraph:last-child {
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 576px) {
  .heading__secondary {
    font-size: 1.5rem;
  }
}
