.bgGrey {
  background-color: $colorGrey;
}

.bgBlue {
  background-color: $color-primary;
}

.box-shadow-1 {
  box-shadow: 8px 12px 30px -8px #222222;
}

.firstSceneItem {
  opacity: 0;
  transform: translateX(-90px);
  transition-timing-function: ease-out;
}

.secondSceneItem {
  opacity: 0;
}

.textStagger1,
.textStagger2 {
  transition-timing-function: cubic-bezier(1, 1, 0, 0);
}

.visible {
  opacity: 1 !important;
}
