.p {
  &-1 {
    padding: 15px;
  }
  &-2 {
    padding: 25px;
  }
  &-3 {
    padding: 35px;
  }
  &-t {
    &-s {
      padding-top: 35px;
    }
    &-m {
      padding-top: 45px;
    }
    &-l {
      padding-top: 55px;
    }
  }
  &-b {
    &-s {
      padding-bottom: 35px;
    }
    &-m {
      padding-bottom: 45px;
    }
    &-l {
      padding-bottom: 55px;
    }
  }
}

.m {
  &-1 {
    margin: 1% 2%;
  }
  &-2 {
    margin: 1.5% 3%;
  }
  &-3 {
    margin: 2% 4%;
  }
  &-t {
    &-s {
      margin-top: 35px;
    }
    &-m {
      margin-top: 45px;
    }
    &-l {
      margin-top: 55px;
    }
  }
  &-b {
    &-s {
      margin-bottom: 35px;
    }
    &-m {
      margin-bottom: 45px;
    }
    &-l {
      margin-bottom: 55px;
    }
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}
